.region-content h3 {
	text-align: left;
	font-variant: small-caps;
}

/* page questions : start */

#questions-part-selecting {
	float: left;
	width: 49%;
}
#questions-part-selecting button {
	width: 38px;
}
#questions-part-selected {
	float: right;
	width: 48%;
}
#questions-part-selected button[type="submit"] {
	font-size: 110%;
	font-weight: bold;
}
#questions-part-selected > p > button {
	margin-left: 30%;
}
.datatable-end {
	clear: both;
	margin-bottom: 1.5ex;
}
ol#questions-selected {
	counter-reset: li;
	list-style: none;
}
#questions-list td.qdate,
#questions-list td.qactions {
    white-space: nowrap;
}
#questions-selected > li {
	clear: both;
	max-width: 120ex;
	line-height: 2.3em;
}
#questions-selected > li:not(.question-section):before {
	content: counter(li);
	counter-increment: li;
	display: inline-block;
	position: absolute;
    margin: -2px 0 0 -2.5em;
	text-align: center;
	padding: 2px 4px;
	height: 20px;
	width: 16px;
	line-height: 20px;
	border: 2px solid #97ceeb;
	border-radius: 16px;
	background: #97deeb;
	color: black;
	font-weight: bold;
}
#questions-selected > li button {
	float: right;
    padding: 1px;
}
#questions-selected label.qscore {
	float: right;
}
#questions-selected label {
	margin-left: 2ex;
}
.question-section label {
	display: inline-block;
	width: 6em;
	vertical-align: top;
	font-weight: bold;
}
.question-section button {
	height: 14ex;
}
/* page questions : end */


.ui-icon {
	position: absolute;
	margin-top: 2px;
}

.q-score label {
	display: block;
}

.score-mismatch {
	background-color: #FF4040;
}

table.quizz-summary {
	width: 100%;
}
table.quizz-summary th {
	width: 30ex;
	text-align: left;
}
td ul {
	margin: 2px 4px 2px 2em;
}

.question-answers li.answer-right {
	list-style-type: disc;
}
.question-answers li.answer-wrong {
	list-style-type: circle;
}

.async-target {
	display: none;
}
.async-post-load {
	display: none;
}
.jsenabled .async-target {
	display: block;
}
.async-target > span.loading {
	background-image: url(pix/ajax-loader.gif);
	float: left;
	width: 16px;
	height: 16px;
}

.back-to-activity {
	margin-top: 2ex;
}

#main-actions {
    text-align: center;
}
#main-actions .amc-process {
    margin-bottom: 2ex;
}
#main-actions li {
    margin: 0 2ex;
	list-style-type: none;
	display: inline-block;
	vertical-align: middle;
	width: 45ex;
}
#main-actions .amc-process-next:before {
	content: "→";
}
#main-actions li.amc-process-next {
	font-size: 200%;
	width: auto;
}

#form-uploadscans > div {
	width: 80ex;
	text-align: right;
}
#form-uploadscans input#scanfile {
	width: 50ex;
}

dt {
	font-weight: bold;
}
dt:after {
	content: " :";
}
